---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$color-text-light-primary: rgba(255,255,255,1);
$color-text-light-secondary: rgba(255,255,255,0.7);

$color-text-dark-primary: rgba(0,0,0,0.87);
$color-text-dark-secondary: rgba(0,0,0,0.54);

$color-accent: #FFA500;
$color-background: #FAFAFA;

@mixin font-title {
  font-family: 'Montserrat', sans-serif;
}
@mixin font-body {
  font-family: 'Open Sans', sans-serif;
}

body {
  @include font-body;

  color: $color-text-dark-primary;
  background: $color-background;

  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar-default {
  background-color: rgba(0,0,0,0.8);
  font-size: 18px;
  border: none;

  .navbar-nav > li > a {
    color: $color-text-light-secondary;

    &:visited {
      color: $color-text-light-secondary;
    }

    &:hover, &:active {
      color: $color-text-light-primary;
    }
  }
}

.navbar-brand {
  color: rgba(0,0,0,0.87);
  font-size: 22px;

  .first {
    color: $color-text-light-secondary;
  }
  .last {
    color: #FFA500;
    font-weight: bold;
  }

  &:hover {
    .first {
      color: $color-text-light-primary;
    }
  }
}


.content {
  & > ul {
    list-style: none;
    padding-left: 0;

    & > li {
      display: inline-block;
    }

    & > li:after {
      content: '|';
      padding-left: 0.3em;
      color: $color-text-dark-secondary;
    }
    & > li:last-child:after {
      content: '';
    }
  }

  & > h2 {
    margin-bottom: -10px;
  }

  & > h3 {
    display: inline-block;
    margin-top: 0;
    margin-right: 0.4em;
  }
  & > h4 {
    display: inline-block;
    margin-top: 0;
    color: $color-text-dark-secondary;
  }
}
